<footer>
  <div class="container">
    <h4>Getting in touch</h4>
    <p>If you're a fellow designer or dev with a question for me I'd love you to submit it over at my <a href="https://github.com/rachsmithcodes/ama">Github AMA</a>.</p>
    <p>Email: contact at rachsmith dot com</p>
    <p>Don't bother sending me emails about job opportunities at your startup or freelance work, it would be a waste of your time :)</p>
    <p>
      <a href="https://twitter.com/rachsmithtweets" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @rachsmithtweets</a>
      <script>
        ! function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'twitter-wjs');
      </script>
    </p>
    <p>&copy; Rachel Smith 2016
  </div>
</footer>