@import "normalize";
@import "skeleton";
$rainbow-0: #D2193A;
$rainbow-1: #DA6102;
$rainbow-2: #E1BC1A;
$rainbow-3: #91A61F;
$rainbow-4: #469D84;
$rainbow-5: #2667A5;
$rainbow-6: #4A3382;
body {
  background: #fff;
}

.links {
  list-style: none;
  li {
    display: inline-block;
    &::after {
      content: '/';
      display: inline-block;
      padding-left: 6px;
    }
  }
  li:last-child {
    &::after {
      content: ''
    }
  }
}

.posts ul {
  margin: 0;
  padding: 0;
  li {
    padding: 20px 0px;
    list-style: none;
  }
}

.home-post:nth-child(7n+1) {
  h2 a,
  .continue-reading {
    color: $rainbow-0;
  }
}

.home-post:nth-child(7n+2) {
  h2 a,
  .continue-reading {
    color: $rainbow-1;
  }
}

.home-post:nth-child(7n+3) {
  h2 a,
  .continue-reading {
    color: $rainbow-2;
  }
}

.home-post:nth-child(7n+4) {
  h2 a,
  .continue-reading {
    color: $rainbow-3;
  }
}

.home-post:nth-child(7n+5) {
  h2 a,
  .continue-reading {
    color: $rainbow-4;
  }
}

.home-post:nth-child(7n+6) {
  h2 a,
  .continue-reading {
    color: $rainbow-5;
  }
}

.home-post:nth-child(7n+7) {
  h2 a,
  .continue-reading {
    color: $rainbow-6;
  }
}

.home-header h1 a {
  color: #222;
  text-decoration: none;
}

.post-header {
  background: #222;
  padding: 15px;
  h3 {
    font-size: 2.2rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0px;
    a {
      color: #8BBBAE;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 400px) {
  .post-header {
    padding: 30px;
  }
}

.home-post {
  position: relative;
  h2 {
    font-size: 3.1rem;
    margin-bottom: 0.2em;
    &:hover {
      text-decoration: underline;
    }
  }
  .post-type {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    svg {
      display: inline-block;
      vertical-align: top;
      fill: #333;
      width: 24px;
      height: 24px;
      margin: -2px 2px 0px 2px;
      use {
        width: 100%;
        height: 100%;
      }
    }
  }
  .home-post-title {
    text-decoration: none;
    font-weight: 700;
  }
  .meta {
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.3em;
    a {
      color: #222;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.home-post.article {
  h2 {
    font-size: 4rem;
  }
}

.container.content {
  background: #fff;
  padding: 2.2em 1.5em 1.8em 1.5em;
  position: relative;
  border-radius: 4px;
  margin-bottom: 2em;
  h1 {
    font-weight: 700;
    font-size: 4rem;
  }
}

.post-link {
  font-weight: 700;
  a {
    color: #8C5383;
  }
}

.pagination {
  margin-bottom: 2em;
  margin-top: 40px;
  a {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    border: 2px solid #222;
    border-radius: 6px;
    text-decoration: none;
    color: #222;
  }
  .earlier-posts {
    float: right;
  }
  .later-posts {
    float: left;
  }
}

footer {
  background: #222;
  color: #fff;
  padding: 1.1em 0 1em 0;
  a {
    color: #8BBBAE;
    &:hover {
      color: #f4f5ea;
    }
  }
  .rss {
    color: #D7D9B1;
    font-size: 2.2rem;
    text-decoration: none;
    svg {
      fill: #D7D9B1;
      width: 22px;
      height: 22px;
    }
  }
}